#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  place-content: center;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.tic-tac-toe{
  padding: 20px;
}

.winner{
  min-height: 100px;
  font-size: 30px;
}


.board{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px
}

.options{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.options button{
  background-color: rgb(86, 167, 178);
}


.square{
  border: 2px solid #fff;
  width: 100px;
  height: 100px;
  place-items: center;
  display: grid;
  font-size: 48px;
  border-radius: 10px;
  cursor: pointer;
}

.players{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 50px;
  margin-bottom: 20px;
}

.player-info{
  display: flex;
  gap: 21px;
  font-size: 20px;
}

.current-turn{
  border: 2px solid #fff;
  background-color: black;
}

